external
gt_for_challenge
output
refact*

*.vscode*
*.ipynb*
*.idea*
*__pycache__*

challenge_submit_test.py
create_gt_for_challenge.py
evaluate_*.py
refactor_ho3d.py
stats.py
test_symmetry.txt
vis_test.py

*.pyc

